{:duct.core/handler-ns    [:duct/const]
 :duct.core/middleware-ns [:duct/const]
 :duct.module/reitit      [:duct/module]

 :duct.reitit/router      [:duct/router]
 :duct.reitit/handler     [:duct/handler]
 :duct.reitit/registry    [:duct/const]
 :duct.reitit/options     [:duct/const]}


